.produtos{
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;

    > h2{
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 20px;
    }

    > div{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px;
    }
}
